# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next
/out
/next-env.d.ts

# Production build
/build

# Debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.swp

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE configs
.vscode/
.idea/

